{% extends "base.html" %}

{% block title %}LegalTeam - Inicio{% endblock %}



{% block header %}<br/>

<div class="text-center my-8 d-flex p-2" style="width: 60rem; margin:0 auto;">
    <h1 class="text-4xl font-bold" style="color: black; font-size: 75px; font-weight: lighter;">LegalTeam</h1>
    <p class="text-lg max-w-2xl mx-auto mt-4" style="color: grey ;font-size: 20px; font-weight: lighter;">
        En LegalTeam ofrecemos una plataforma integral para la gestión y monitoreo de procesos judiciales. Utilizando tecnología avanzada, ayudamos a abogados y usuarios a mantenerse al tanto de sus casos, analizar documentos legales con inteligencia artificial y recibir notificaciones en tiempo real. Simplifica tu trabajo legal con nuestras herramientas efectivas y fáciles de usar.
    </p>
    <br/>
<br/>
<br/>
</div>
{% endblock %}

{% block content %}
<div class="features">
    <div class="feature-card" style="width: 16rem; margin: auto; height: 18rem;">
        <h2 style="color: #6d9cca">Consulta de Procesos</h2><br/>
        <p style="color: black">Consulta y monitorea actualizaciones de procesos judiciales en tiempo real.</p>
        <br/>
        <br/>
        <a href="{% url 'case_search' %}" class="button" style="color: white">Consultar Proceso</a>
    </div>
    
    <div class="feature-card" style="width: 16rem; margin: auto; height: 18rem;">
        <h2 style="color: #6d9cca">Análisis de Documentos</h2><br/>
        <p style="color: black">Analiza documentos legales utilizando inteligencia artificial.</p>
        <br/>
        <br/>
        <a href="{% url 'analysis' %}" class="button" style="color: white">Analizar Documento</a>
    </div>
    
    <div class="feature-card" style="width: 16rem; margin: auto; height: 18rem;">
        <h2 style="color: #6d9cca">Notificaciones</h2><br/>
        <p style="color: black">Recibe alertas sobre actualizaciones en tus casos.</p>
        <br/>
        <br/>
        <a href="{% url 'subscribe' %}" class="button" style="color: white">Notificaciones</a>
    </div>
</div>

<!-- Team Section -->
<section class="team-section mt-16 py-8 px-8 lg:py-12">
    <div class="team-section">
        <h2>Nuestro Equipo</h2>
        <p>Somos un equipo de profesionales apasionados por la tecnología y el derecho, comprometidos en simplificar la gestión legal a través de soluciones innovadoras. En LegalTeam trabajamos para brindar herramientas tecnológicas eficientes que ayuden a abogados y usuarios a monitorear sus procesos judiciales, analizar documentos legales, y recibir notificaciones en tiempo real, haciendo que el acceso a la justicia sea más sencillo y accesible para todos.</p>
        <div class="team-cards-container">
            <div class="team-card">
                <img src="https://i.imgur.com/mdFqFoh.jpeg" alt="Santiago Arenas">
                <h3>Santiago Arenas</h3>
                <p>s.arenasr@uniandes.edu.co</p>
            </div>
    
            <div class="team-card">
                <img src="https://i.imgur.com/2lXpmwe.jpeg" alt="Santiago Reyes">
                <h3>Santiago Reyes</h3>
                <p>s.reyesc2@uniandes.edu.co</p>
            </div>
    
            <div class="team-card">
                <img src="https://i.imgur.com/qI6q8nw.jpeg" alt="David Almanza">
                <h3>David Almanza</h3>
                <p>d.almanza@uniandes.edu.co</p>
            </div>
    
            <div class="team-card">
                <img src="https://i.imgur.com/iYkYwpI.jpeg" alt="Daniel Rincon">
                <h3>Julian Rolon</h3>
                <p>j.rolont@uniandes.edu.co</p>
            </div>
    
            <div class="team-card">
                <img src="https://i.imgur.com/0KmXbh4.jpeg" alt="Camilo Inoue">
                <h3>Camilo Inoue</h3>
                <p>-</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
